.card{
    
    box-shadow:2px 4px 10px;
    margin:5%;
    width: 22%;
    float: left;
   
   
}
.cardTitle{
    text-align: center;
    padding: 8px;
}
.cardDes{
    text-align: center;
}
.cardFooter{
    text-align: center;
    padding-bottom: 7px;
}