
  #header{
    background-image: url("Images/headerImg.png");
    background-size: cover;
    background-size: center;
    height: 70vh;
}
.header-containr{
    
}
.header-content{
    margin-top: 130px;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}
  
