
*{
    margin: 0;
}


/* --------navbar start here -------------- */

.navbar{
    background-color:rgb(255, 255, 255);
   
    text-decoration:none;
}

.nav-link {
    color:black;
    list-style: none;
    text-decoration:none;
    justify-content: space-between;
    margin-right: 20px;
   
   transition: .3s;
}

.nav-link i{
    font-size:1.7rem;
    background-image: linear-gradient(to right,#8ad7c1,#c6fced,#f0faf7 ) ;
}


.nav-link:hover{
   border-bottom: 2px solid rgb(17, 16, 16) ;
   color: rgb(17, 16, 17) ;
   transform: scale(1.1);
}

.nav-img{
    width:140px;
    margin-left:300px;
    margin-top: 10px;
    

    
}

.menu-active{
    color:teal;
    font-weight:bold;
}

/* .burger{
    display:none;
    cursor:pointer;
}
.burger div{

    width:24px;
    height:4px;
    margin:4px;
    background-color:rgb(0, 0, 0);
} */


/* --------navbar end here -------------- */

#header{
    background-image: url("Images/headerImg.png");
    background-size: cover;
    background-size: center;
    height: 70vh;
}
.header-containr{
    
}
.header-content{
    margin-top: 130px;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

/* --------------signin start here-------------- */

#signIn {
    
    
    border: outset;
    height: 100vh;
    
    
    margin: 40px  300px;
    width: 49%;
    padding: 20px 20px;

}

#signIn i{
    /* background-color:#e3fcf8; */
    background-image: linear-gradient(to right,#8ad7c1,#c6fced,#f0faf7 ) ;
    padding: 14px;
    font-size: 3rem;
   
    

}

#signIn .input{
    background-color: rgb(241, 238, 238);
    border-color: rgb(207, 207, 207);
    border: outset;
    /* margin: 10px 30px;
    width:200px; */
    /* height: 80px; */
     
}



#signIn .btn{
    padding: 10px 40px;
    margin:10px 70px;
    background-image: linear-gradient(to right,#8ad7c1,#c6fced,#f0faf7 ) ;
}


/* --------------signin end here-------------- */

.card{
    margin: 200px;
}

/* -------------------------------------------------------------- */

/* @media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    #menuNav .nav-link {
        background-color:black;
        color:white;
        display: flex;
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        align-items: center;
        width: 49%;
        
        transform: translateX(100%);
        transition:transform 0.4s ease-in;
    }
    #menuNav li{
        opacity: 0;
    }
    .burger{
        display:block;
    }

    .nav-active{
        transform: translateX(0%);
    }


} */